@import 'normalize.css';
/* Стилі для модального вікна */
.modal {
    display: none; /* По замовчуванню вікно приховане */
    position: fixed; /* Фіксоване положення */
    z-index: 1; /* Найвищий рівень z-index */
    left: 0;
    top: 0;
    width: 100%; /* Розмір на весь екран */
    height: 100%;
    overflow: auto; /* Дозволяє прокручування, якщо вміст занадто великий */
    background-color: rgba(0,0,0,0.4); /* Півпрозорий чорний фон */
  }

  /* Стилі для вмісту модального вікна */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Центрування модального вікна */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ширина вікна */
  }

  /* Стилі для кнопки закриття */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }